section.articles  
    .articles__container 
        .articles__inner 
            h3.articles__title Useful articles
            .articles__box 
                a.articles__link(href="") View all articles
                svg.articles__img 
                    use(href="./images/articles/arrow-grey-r.svg#arr-g-r")
        ul.articles__list 
            li.articles__item-1 
                h4.articles__item-title Discover Architecture
            li.articles__item-2 
                p.articles__item-2-subtext July 03, 2024
                h4.articles__item-title-2 Discover Architecture
                p.articles__item-2-text Projects for many large domestic and foreign corporations, enterprises in many elds such.
                .articles__item-2-box 
                    a.articles__item-2-link(href="") Learn more
                    svg.articles__item-2-img 
                        use(href="./images/articles/arrow-yellow-r.svg#arr-y-r")
            li.articles__item-3 
                h4.articles__item-title Discover Architecture
        .articles__slider 
            .articles__slider-item 
                img.articles__slider-pic(src="./images/articles/paul.png", alt="Image client")
                .articles__slider-content
                    p.articles__slider-quote ”
                    h5.articles__slider-author Paul
                    p.articles__slider-work Owner in 
                        |
                        span(class="articles__slider-work-span") Paul.com
                    p.articles__slider-message Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
            .articles__slider-item 
                img.articles__slider-pic(src="./images/articles/robert.png", alt="Image client")
                .articles__slider-content
                    p.articles__slider-quote ”
                    h5.articles__slider-author Robert
                    p.articles__slider-work Founder in  
                        |
                        span(class="articles__slider-work-span") Apple inc.
                    p.articles__slider-message Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing.
            .articles__slider-item 
                img.articles__slider-pic(src="./images/articles/sindy.png", alt="Image client")
                .articles__slider-content
                    p.articles__slider-quote ”
                    h5.articles__slider-author Sindy
                    p.articles__slider-work Developer  
                        |
                        span(class="articles__slider-work-span") Freelancer
                    p.articles__slider-message Front-End developer, development and creation of websites according to your wishes. Promotion of your products in online communities.