section.contact 
    .contact__container 
        .contact__wrapper 
            p.contact__question Do you have any questions?
            h2.contact__title Contact us
            form(class="contact__form") 
                input(class="contact__input", type="text", placeholder="Enter your mail")
                button(class="contact__btn", type="submit") Send
