.bottom 
    p.bottom__copyright Copyright © 2024 Dubai Realty
    .bottom__social 
        a.bottom__social-link(href="") 
            svg.bottom__social-img(width="10px", height="17px") 
                use(href="../images/hero/facebook.svg#icon-facebook")
        a.bottom__social-link(href="") 
            svg.bottom__social-img(width="17px", height="15px") 
                use(href="../images/hero/twitter.svg#icon-twitter")
        a.bottom__social-link(href="") 
            svg.bottom__social-img(width="20px", height="16px") 
                use(href="../images/hero/youtube.svg#icon-youtube")
        a.bottom__social-link(href="") 
            svg.bottom__social-img(width="17px", height="17px") 
                use(href="../images/hero/instagram.svg#icon-instagram")
        a.bottom__social-link(href="") 
            svg.bottom__social-img(width="19px", height="18px") 
                use(href="../images/hero/linkedin.svg#icon-linkedin")