section.faq 
    .faq__container 
        h3.faq__title FAQ 
        ul.faq__list 
            li.faq__item 
                h5.faq__header The largest and oldest Quotations Page on the Web with about 30 categories
                    |
                    img.faq__icon(src="../images/faq/arrow-right.png", alt="arrow", width="11px", height="20")
                .faq__content 
                    p.faq__text Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis. Pellentesque augue elit, rutrum sit amet commodo vel, porta quis purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet purus, sit amet pellentesque neque est id tortor. In egestas, erat a dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc, feugiat placerat urna rutrum eget. Nullam mattis justo consequat risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit. Pellentesque elementum purus non nisl pharetra consequat. Nunc in venenatis orci.
            li.faq__item 
                h5.faq__header A huge collection of inspirational quotes, thoughts of greatest minds in history
                    |
                    img.faq__icon(src="../images/faq/arrow-right.png", alt="arrow", width="11px", height="20")
                .faq__content 
                    p.faq__text Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis. Pellentesque augue elit, rutrum sit amet commodo vel, porta quis purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet purus, sit amet pellentesque neque est id tortor. In egestas, erat a dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec tellus.
            li.faq__item 
                h5.faq__header Quotations from the great works of literature
                    |
                    img.faq__icon(src="../images/faq/arrow-right.png", alt="arrow", width="11px", height="20")
                .faq__content 
                    p.faq__text Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis. Pellentesque augue elit, rutrum sit amet commodo vel, porta quis purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet purus, sit amet pellentesque neque est id tortor. In egestas, erat a dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec tellus.
            li.faq__item 
                h5.faq__header Read quotes and sayings from famous people in history
                    |
                    img.faq__icon(src="../images/faq/arrow-right.png", alt="arrow", width="11px", height="20")
                .faq__content 
                    p.faq__text Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis. Pellentesque augue elit, rutrum sit amet commodo vel, porta quis purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet purus, sit amet pellentesque neque est id tortor. In egestas, erat a dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec tellus.
            li.faq__item 
                h5.faq__header Collected quotes from Albert Einstein
                    |
                    img.faq__icon(src="../images/faq/arrow-right.png", alt="arrow", width="11px", height="20")
                .faq__content 
                    p.faq__text Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis. Pellentesque augue elit, rutrum sit amet commodo vel, porta quis purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet purus, sit amet pellentesque neque est id tortor. In egestas, erat a dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec tellus.