footer.footer 
    .footer__container
        img.footer__logo(src="../images/header/logo.png", alt="Image logo")
        .footer__menu 
            ul.footer__menu-list 
                li.footer__menu-item 
                    h5.footer__menu-title Buy
                        |
                        span.footer__menu-arrow 
                    ul.footer__submenu 
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Apartment in Dubai
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") House in Dubai
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Loft in Dubai
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Penthouse in Dubai
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Excursions in Dubai
                li.footer__menu-item 
                    h5.footer__menu-title Services
                        |
                        span.footer__menu-arrow 
                    ul.footer__submenu 
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Property management in Dubai, UAE
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Sell ​​property in Dubai, UAE
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Rent property in Dubai, UAE
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Investments in Dubai, UAE
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Moving to Dubai, UAE
                li.footer__menu-item 
                    h5.footer__menu-title Information
                        |
                        span.footer__menu-arrow 
                    ul.footer__submenu 
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Video
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Laws
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Questions and answers
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Books
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Articles
                li.footer__menu-item 
                    h5.footer__menu-title About company
                        |
                        span.footer__menu-arrow 
                    ul.footer__submenu 
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Jobs
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Story
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Licenses
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Why are we
                        li.footer__submenu-item 
                            a.footer__submenu-link(href="#") Real estate agency
                li.footer__menu-item
                    .footer__contact 
                        .footer__contact-wrapper 
                            h5.footer__contact-title Contact
                            p.footer__contact-address 964 Worthington Drive
                            p.footer__contact-address Dubai, UAE
                            a.footer__contact-mail(href="#") dubairealty@mail.com
                        a.footer__contact-btn(href="#") Book a consultation