header.header 
    .header__container 
        a.header__logo(href="") 
            img.header__logo-img(src="../images/header/logo.png" alt="Logo image") 
        nav.header__nav 
            ul.header__nav-list 
                li.header__nav-item
                    button.header__nav-link.active(href="", id="buy-link") BUY 
                        span.header__nav-arrow
                    section.header__dropdown(id="menu") 
                        a.header__dropdown-item(href="") Category number one
                        a.header__dropdown-item(href="") Apartments in Dubai
                        a.header__dropdown-item(href="") Category number twenty five
                li.header__nav-item
                    a.header__nav-link(href="") BLOG
                li.header__nav-item
                    a.header__nav-link(href="") ABOUT
                li.header__nav-item
                    a.header__nav-link(href="") CONTACT
        a.header__btn(href="") Book a consultation 
        .header__switch 
            button.header__switch-lang.current EN 
            button.header__switch-lang UA
        a.header__phone(href="") +38 044 123 45 67
        svg.header__burger(width="24", height="24") 
            use(href="../images/header/burger.svg#burger-icon")
