section.hero 
    .hero__container 
        .hero__slider 
            .hero__slider-item-1 
                .hero__slider-inner 
                    picture
                        source(srcset="./images/hero/semi-rectangle-1920.png", media="(min-width: 1200px)")
                        source(srcset="./images/hero/semi-rectangle-768.png", media="(min-width: 768px)")
                        source(srcset="./images/hero/semi-rectangle-360.png", media="(max-width: 767px)")
                        img.hero__slider-inner-img(src="./images/hero/semi-rectangle-1920.png", alt="semi-rectangle")
                    .hero__slider-inner-content
                        p.hero__slider-inner-uptext Lorem, ipsum.
                        h1.hero__slider-inner-title Welcome Home 
                            span.hero__title-span To 
                            | luxury
                        a.hero__slider-inner-link(href="") 
                            p.hero__slider-inner-subtext Book a consultation
                            svg.hero__slider-inner-arrow 
                                use(href="./images/hero/arrow.svg#icon-arrow")
                    .hero__social 
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="10px", height="17px") 
                                use(href="./images/hero/facebook.svg#icon-facebook")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="15px") 
                                use(href="./images/hero/twitter.svg#icon-twitter")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="20px", height="16px") 
                                use(href="./images/hero/youtube.svg#icon-youtube")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="17px") 
                                use(href="./images/hero/instagram.svg#icon-instagram")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="19px", height="18px") 
                                use(href="./images/hero/linkedin.svg#icon-linkedin")
                    .hero__dots
                        ul.hero__dots-list 
                            li.hero__dots-item 
                                p.hero__dots-item-num 01
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 02
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 03
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
            .hero__slider-item-2 
                .hero__slider-inner 
                    picture
                        source(srcset="./images/hero/semi-rectangle-1920.png", media="(min-width: 1200px)")
                        source(srcset="./images/hero/semi-rectangle-768.png", media="(min-width: 768px)")
                        source(srcset="./images/hero/semi-rectangle-360.png", media="(max-width: 767px)")
                        img.hero__slider-inner-img(src="./images/hero/semi-rectangle-1920.png", alt="semi-rectangle")
                    .hero__slider-inner-content
                        p.hero__slider-inner-uptext Lorem ipsum
                        h1.hero__slider-inner-title Welcome Home 
                            span.hero__title-span To 
                            | luxury
                        a.hero__slider-inner-link(href="") 
                            p.hero__slider-inner-subtext Book a consultation
                            svg.hero__slider-inner-arrow 
                                use(href="./images/hero/arrow.svg#icon-arrow")
                    .hero__social 
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="10px", height="17px") 
                                use(href="./images/hero/facebook.svg#icon-facebook")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="15px") 
                                use(href="./images/hero/twitter.svg#icon-twitter")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="20px", height="16px") 
                                use(href="./images/hero/youtube.svg#icon-youtube")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="17px") 
                                use(href="./images/hero/instagram.svg#icon-instagram")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="19px", height="18px") 
                                use(href="./images/hero/linkedin.svg#icon-linkedin")
                    .hero__dots
                        ul.hero__dots-list 
                            li.hero__dots-item 
                                p.hero__dots-item-num 01
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 02
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 03
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
            .hero__slider-item-3 
                .hero__slider-inner 
                    picture
                        source(srcset="./images/hero/semi-rectangle-1920.png", media="(min-width: 1200px)")
                        source(srcset="./images/hero/semi-rectangle-768.png", media="(min-width: 768px)")
                        source(srcset="./images/hero/semi-rectangle-360.png", media="(max-width: 767px)")
                        img.hero__slider-inner-img(src="./images/hero/semi-rectangle-1920.png", alt="semi-rectangle")
                    .hero__slider-inner-content
                        p.hero__slider-inner-uptext Lorem ipsum
                        h1.hero__slider-inner-title Welcome Home 
                            span.hero__title-span To 
                            | luxury
                        a.hero__slider-inner-link(href="") 
                            p.hero__slider-inner-subtext Book a consultation
                            svg.hero__slider-inner-arrow 
                                use(href="./images/hero/arrow.svg#icon-arrow")
                    .hero__social 
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="10px", height="17px") 
                                use(href="./images/hero/facebook.svg#icon-facebook")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="15px") 
                                use(href="./images/hero/twitter.svg#icon-twitter")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="20px", height="16px") 
                                use(href="./images/hero/youtube.svg#icon-youtube")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="17px", height="17px") 
                                use(href="./images/hero/instagram.svg#icon-instagram")
                        a.hero__social-link(href="") 
                            svg.hero__social-img(width="19px", height="18px") 
                                use(href="./images/hero/linkedin.svg#icon-linkedin")
                    .hero__dots
                        ul.hero__dots-list 
                            li.hero__dots-item 
                                p.hero__dots-item-num 01
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 02
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
                            li.hero__dots-item 
                                p.hero__dots-item-num 03
                                p.hero__dots-item-text Lorem Ipsum Dolorem apset
        .hero__slider-arrows 
            p.hero__slider-prev PREV
            p.hero__slider-next NEXT
        .hero__dots-mobile
            ul.hero__dots-list 
                li.hero__dots-item 
                    p.hero__dots-item-num 01
                    p.hero__dots-item-text Lorem Ipsum Dolorem apset
                li.hero__dots-item 
                    p.hero__dots-item-num 02
                    p.hero__dots-item-text Lorem Ipsum Dolorem apset
                li.hero__dots-item 
                    p.hero__dots-item-num 03
                    p.hero__dots-item-text Lorem Ipsum Dolorem apset