section.projects 
    .projects__container 
        .projects__upper 
            .projects__title Latest projects
            nav.projects__navi 
                ul.projects__navi-list 
                    li.projects__navi-item
                        a.projects__navi-link.active(href="") All
                    li.projects__navi-item
                        a.projects__navi-link(href="") Building
                    li.projects__navi-item
                        a.projects__navi-link(href="") Interior
                    li.projects__navi-item
                        a.projects__navi-link.view(href="") View all projects
        .projects__slider 
            .projects__slider-item 
                picture
                    source(srcset="../images/projects/image-1-1920.jpg", media="(min-width: 1200px)")
                    source(srcset="../images/projects/image-1-768.jpg", media="(min-width: 768px)")
                    source(srcset="../images/projects/image-1-360.jpg", media="(max-width: 767px)")
                    img.hero__slider-inner-img(src="../images/projects/image-1-1920.jpg", alt="Project image")
                h3.projects__slider-item-title Villas
            .projects__slider-item 
                .projects__slider-item-wrapper
                    h3.projects__slider-item-title-2 Dubai 
                    p.projects__slider-item-text-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptas distinctio quam sapiente magni modi nulla corrupti nam atque illum.
                    .projects__slider-item-inner 
                        a.projects__slider-item-link(href="") See project
                        svg.projects__slider-item-arr(width="11px", height="20px") 
                            use(href="../images/projects/arrow-2.svg#icon-arrow-2")
            .projects__slider-item 
                picture
                    source(srcset="../images/projects/image-2-1920.jpg", media="(min-width: 1200px)")
                    source(srcset="../images/projects/image-2-768.jpg", media="(min-width: 768px)")
                    source(srcset="../images/projects/image-2-360.jpg", media="(max-width: 767px)")
                    img.hero__slider-inner-img(src="../images/projects/image-2-1920.jpg", alt="Project image")
                h3.projects__slider-item-title Houses 
            .projects__slider-item 
                picture
                    source(srcset="../images/projects/image-3-1920.jpg", media="(min-width: 1200px)")
                    source(srcset="../images/projects/image-3-768.jpg", media="(min-width: 768px)")
                    source(srcset="../images/projects/image-3-360.jpg", media="(max-width: 767px)")
                    img.hero__slider-inner-img(src="../images/projects/image-3-1920.jpg", alt="Project image")
                h3.projects__slider-item-title Villas
            .projects__slider-item 
                .projects__slider-item-wrapper
                    h3.projects__slider-item-title-2 Dubai 
                    p.projects__slider-item-text-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptas distinctio quam sapiente magni modi nulla corrupti nam atque illum.
                    .projects__slider-item-inner 
                        a.projects__slider-item-link(href="") See project
                        svg.projects__slider-item-arr(width="11px", height="20px") 
                            use(href="../images/projects/arrow-2.svg#icon-arrow-2")