:root {
    --first-family: "Work Sans", sans-serif;
    --second-family: "Gilroy", sans-serif;
    --third-family: "Roboto", sans-serif;
    --fourth-family: "Lexend", sans-serif;
    --fifth-family: "Space Grotesk", sans-serif;
    --acceny-color: #fcd54c;
    --yellow-2: #f8c41a;
    --white-color: #ffffff;
    --dark-color: #272727;
    --black-color: #000000;
    --grey-1: #979797;
    --grey-2: #929292;
    --grey-3: #808080;
}