:root {
    --first-family: "Work Sans", sans-serif;
    --second-family: "Gilroy", sans-serif;
    --third-family: "Roboto", sans-serif;
    --fourth-family: "Lexend", sans-serif;
    --fifth-family: "Space Grotesk", sans-serif;
    
}