doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="./images/favicon.png", type="image/x-icon")
        title Dubai
        link(rel="stylesheet", href="./libs/slick/slick.css")
        link(rel="stylesheet", href="./css/main.css")
    body 
        include includes/header 
        include includes/components/mobile-window 
        include includes/hero 
        include includes/projects 
        include includes/apartments
        include includes/contact
        include includes/articles
        include includes/faq
        include includes/footer 
        include includes/copyright 
        include includes/to-top
        include includes/message 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
        script(src="./libs/slick/slick.min.js") 
        script(src="./js/mobileWindow.js") 
        script(src="./js/navSelect.js")
        script(src="./js/heroSlider.js") 
        script(src="./js/projectsSlider.js") 
        script(src="./js/apartmentVideo.js")
        script(src="./js/articlesSlider.js") 
        script(src="./js/faqAccordion.js") 
        script(src="./js/footerDropdown.js") 
        script(src="./js/toTop.js") 